{% extends 'base.html.twig' %}

{% block title %}Neuer Gutschein{% endblock %}

{% block body %}
    <h1>Neuer Gutschein</h1>

    {{ include('gutschein/_form.html.twig') }}

    <a href="{{ path('gutschein_index') }}">zurück zur Liste</a>
{% endblock %}
